/*-----------------------------------*\ 
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\ 
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

   /*  */

  --maximum-yellow-red: hsl(253, 91%, 79%);
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(266, 97%, 49%);
  --french-rose: hsl(253, 90%, 61%);
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%); 
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

}





/*-----------------------------------*\ 
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; 
    color: inherit;
}

a,
img,
button,
span,
label,
input,
textarea { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus { outline: none; }

:focus { outline-offset: 4px; }

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 50%); }


.shape-content{
  height: 100%;
}



/*-----------------------------------*\ 
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding: 0 15px; }

.h1,
.h2,
.h3 {
  font-weight: var(--fw-600);
  line-height: 1.3;
  text-transform: capitalize;
}

.h1 {
  color: var(--oxford-blue);
  font-size: var(--fs-1);
}

.h2 { font-size: var(--fs-2); }

.h3 {
  color: var(--oxford-blue);
  font-size: var(--fs-3);
}

.h4 {
  color: var(--royal-blue-dark);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.btn {
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 6px;
}

.button-hover{
  transition: ease-in-out 0.5s;
}

.button-hover:hover{
  transform: translateY(-15px);
  transition: ease-in-out 0.5s;
}

.wpp{
  margin-left: 4px;
  margin-top: 3px;
}

.btn-primary {
  background: #25D366;
  border-color: black;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}




/*-----------------------------------*\ 
 * #HEADER
\*-----------------------------------*/


.logo_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_nav > img{
  margin-top: 28px;
}

.logo_nav > p{
  text-transform: uppercase;
  color: purple;
}

header {
  position: relative;
  padding: 35px 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-btn {
  font-size: 30px;
  padding: 5px;
}

.navbar {
  position: absolute;
  top: calc(100% - 15px);
  left: 15px;
  right: 15px;
  background: var(--maximum-yellow-red);
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
  transform-origin: top;
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  pointer-events: all;
  max-height: 280px;
}

.navbar-list { padding: 10px; }

.nav-item:not(:last-child) { border-bottom: 1px solid hsla(0, 0%, 100%, 0.2); }

.nav-link {
  font-size: var(--fs-6);
  color: var(--royal-blue-dark);
  font-weight: var(--fw-600);
  padding: 15px 10px;
  opacity: 0;
  transition: opacity var(--transition);
}

.nav-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }

.navbar.active .nav-link {
  transition-delay: 0.2s;
  opacity: 1;
}

.navbar .btn-primary { display: none; }





/*-----------------------------------*\ 
 * #HERO
\*-----------------------------------*/


.hero {
  position: relative;
  padding: 80px 0 60px;
  z-index: 1;
}

.hero-button { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 45px;
  /* gap: 30px; */
}

.hero-content { text-align: center; }

.hero-title,
.hero-text { margin-bottom: 40px; }

.hero .section-title, .hero-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}




.hero-text {
  font-size: var(--fs-4);
  color: var(--oxford-blue);
}

.hero .btn-primary { margin-inline: auto; }

.hero-banner { display: none;}

.shape-content {
  position: absolute;
  width: 900px;
  top: -230px;
  right: -300px;
  z-index: -1;
}




/*-----------------------------------*\ 
 * #SERVICES | CLIENS
\*-----------------------------------*/


.services-content{
  display: flex;
  flex-direction: row;
}

.services-title {
  margin-top: 25px;
  padding: 12px;
  text-align: left;
}

.ad-img{
  margin-left: 30px;
  max-width: 10%;
}

.ad-logo-ttk{
  margin-top: 45px;
}

.cliens img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

.section-bg {
  background-color: #f3f5fa;
}





/*-----------------------------------*\ 
 * #RESUME
\*-----------------------------------*/

.resume-content > h2 {
  text-align: center;
}

.resume-content > p {
  text-align: center;
  
}



.about-card-resume {
  background: var(--white);
  padding: 40px;
  /* border-radius: 12px; */
  border-style: groove;
  border-radius: 12PX;
  border-color: black;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: ease-in-out 0.5s;

}

.about-card-resume:hover{
  transform: translateY(-20px);
  transition: ease-in-out 0.5s;
}

.about-card-resume > h4{
  text-align: center;
  color: black;
}

.about-card-resume > p{
  text-align: center;
  color: black;
}



/*-----------------------------------*\ 
 * #ABOUT
\*-----------------------------------*/

.about {
  position: relative;
  z-index: 1;
  background: url("../images/about-bg-purple-2.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
}

.about-top { margin-bottom: 120px; }

.about .h2 { color: var(--white); }

.about-top .section-title { margin-bottom: 20px; }

.about-top .section-text {
  color: var(--white);
  font-size: var(--fs-4);
  margin-bottom: 60px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.about-card {
  background: var(--white);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  transition: ease-in-out 0.5s;
}

.about-card:hover{
  transform: translateY(-20px);
  transition: ease-in-out 0.5s;
}

.about-card-mid {
  background: var(--white);
  padding: 40px;
  content: 0%;
  border-radius: 50%;
  width: 150px;
  height: 150px;

  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.card-icon {
  color: var(--bittersweet);
  font-size: 45px;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 15px;
}

.about-card .card-title { margin-bottom: 15px; }

.about-card .card-text { 
  color: var(--davys-gray); 
  text-align: justify;
}

.about-bottom-banner { margin-bottom: 120px; }

.about-bottom-banner img {
  width: 100%;
  height: 100%;
}

.about-bottom .section-title { margin-bottom: 20px; }

.about-bottom .section-text {
  color: var(--white);
  font-size: var(--fs-4);
  margin-bottom: 40px;
}

.about-bottom .btn-secondary {
  background: #25D366;
  border-color: #25D366;
  color: var(--white);
  margin-inline: auto;
}





/*-----------------------------------*\ 
 * #FEATURES
\*-----------------------------------*/

.features {
  padding: 120px 0;
  text-align: center;
}

.features .section-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}

.features .section-text {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 120px;
}

.features-item:first-child { margin-bottom: 100px; }

.features-item-banner {
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 60px;
}

.features-item-banner img { width: 100%; }

.features-item .item-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}

.features-item .item-text {
  color: var(--rythm);
  font-size: var(--fs-4);
}


/*-----------------------------------*\ 
 * #FOR WHO
\*-----------------------------------*/



.for-who-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.for-who-list > * {
  flex: 1;
}

.for-who-card {
  background: var(--white);
  padding: 10px;
  /* border-radius: 12px; */
  border-style: groove;
  border-color: black;
  border-radius: 15px;
 
  height: 100%;
  margin-right: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: ease-in-out 0.5s;

  
}

.for-who-card:hover{
  transform: translateY(-20px);
  transition: ease-in-out 0.5s;
}

.for-who-card > h4{
  text-align: center;
  color: black;
}



.for-who-card > p{
  text-align: center;
  color: black;
}

.for-who-button { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 45px;
  /* gap: 30px; */
}



/*-----------------------------------*\ 
 * #WHY-US
\*-----------------------------------*/

.why-us {
  text-align: center;
}

.why-us .section-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}

.why-us-card{
  color: black;
  padding: 20px;
}

.why-us-card > p{
  margin-bottom: 10px;
  font-weight: bold;
}

.why-us-text > p{
  text-align: center;
}

.why-us-button { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 45px;
  /* gap: 30px; */
}

/*-----------------------------------*\ 
 * #WHO-WE-ARE
\*-----------------------------------*/

.who-we-are .section-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}


.who-we-are {
  text-align: center;
  padding: 40px;
}

.who-we-are h2{
  padding: 10px;
}

.row-content{
  display: flex;
  flex-direction: row;
}

.left-text{
  line-height: 30px;
}

.left-text,
.right-text {
  text-align: justify;
  flex: 1;
  padding: 10px; /* Opcional: Adicione preenchimento para espaçamento interno */
 
}

.who-we-are-button { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 45px;
  /* gap: 30px; */
}

/* WHO-WE-ARE HIDDEN */
.services_container{
  display: none;
}





/*-----------------------------------*\ 
 * #DIFERENCIAL
\*-----------------------------------*/

.diferencial > .container > h2{
  text-align: center;
  color: var(--royal-blue-dark);
}

.container_content
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.wordpress_img{
  padding-top: 10px;
  height: 40px;
}

.meta_img{
  height: 40px;
  padding-top: 10px;
}

.google_img{
  padding-top: 10px;
  height: 40px;
}

/*-----------------------------------*\ 
 * #CARROUSEL
\*-----------------------------------*/

.carrousel > .carrousel_container > h2{
  margin-top: 20px;
  text-align: center;
  color: var(--royal-blue-dark);
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img > img{
  height: 400px;
}
/*-----------------------------------*\ 
 * #FAQ
\*-----------------------------------*/

.faq {
  margin: 20px 0;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  text-align: left;
}

.arrow-down{
  margin-top: 5px;
  margin-right: 5px;
}

.question {
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.answer {
  display: none;
  margin-top: 10px;
  margin-left: 5px;
  color: black;
}

.answer.show {
  display: block;
}


/*-----------------------------------*\ 
 * #CTA
\*-----------------------------------*/

.cta { padding: 50px 0; }

.cta-card {
  border-style: groove;
  border-color: black;
  border-radius: 15px;

  padding: 110px 36px 5px;
  text-align: center;
}

.cta-card > H3{
  color: black;
}

.cta-title {
  /* text-shadow: 2px 2px black; */
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.gradient{
    transform: translateY(-95px);
    font-size: 70px;
    background: linear-gradient(to top, transparent 3%, #c0c6c8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 90%;
}

.cta-text {
  color: var(--white);
  /* text-shadow: 1px 2px black; */
  font-size: var(--fs-5);
  margin-bottom: 50px;
}

.cta input {
  color: var(--white);
  padding: 10px 15px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

.cta input::placeholder { color: inherit; }

.cta .btn-secondary {
  color: var(--white);
  margin-inline: auto;
}

/* btn secondary-grow */
.btn-secondary-grow{
  background: #25D366;
  margin-top: 25px;

  align-content: center;
  
  border-color: #25D366;
  color: var(--white)
}

/* .btn-secondary-grow:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); } */



/*-----------------------------------*\ 
 * #CONTACT
\*-----------------------------------*/

.contact { margin-bottom: 120px; }

.contact-content { margin-bottom: 50px; }

.contact-title {
  color: var(--royal-blue-dark);
  margin-bottom: 60px;
  text-align: center;
  font-weight: var(--fw-500) !important;
}

.contact-banner img { width: 100%; }

.input-wrapper { margin-bottom: 30px; }

.input-label {
  color: var(--oxford-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.input-field {
  border-bottom: 1px solid var(--platinum);
  padding: 7px 0;
  font-size: var(--fs-6);
}

.input-field::placeholder { color: var(--silver-chalice); }

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}





/*-----------------------------------*\ 
 * #FOOTER
\*-----------------------------------*/

footer { background: var(--white-2); }

.footer-top { padding: 80px 0 50px; }

.footer-brand { margin-bottom: 20px; }

footer .logo { margin-bottom: 30px; }

.footer-text {
  color: var(--rythm);
  font-size: var(--fs-6);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) { color: var(--french-rose); }

.footer-link-list:not(:last-child) { margin-bottom: 30px; }

.footer-link-list .link-title { margin-bottom: 15px; }

.footer-link {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-link:is(:hover, :focus) { color: var(--french-rose); }

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
  color: var(--cool-gray);
  text-align: center;
  font-size: var(--fs-6);
}

.copyright a {
  display: inline-block;
  color: var(--cool-gray);
}

.copyright a:is(:hover, :focus) { color: var(--french-rose); }





/*-----------------------------------*\ 
 * #WPP
\*-----------------------------------*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*-----------------------------------*\ 
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background: linear-gradient(-45deg, var(--maximum-yellow-red), var(--french-rose));
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--white);
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}





/*-----------------------------------*\ 
 * #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive for smaller than 450px 
 */

@media (max-width: 450px) {

  .hero-banner {
    display: flex;
    position: absolute;
    top: -15%;
    left: 33%;
    width: 140px;
    padding-top: 200px;
    background: url("../images/banner-teste.png") no-repeat;
    background-size: contain;

    animation: pulse 2s infinite; 

  }


  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * typography
     */

    --fs-1: 60px;

  }



  /**
   * REUESED STYLE 
   */

  .h1,
  .h2 { font-weight: var(--fw-700); }

  .btn { padding-block: 15px; }



  /**
   * HEADER 
   */

  .navbar {
    left: auto;
    width: 300px;
  }



  /**
   * HERO 
   */

  .hero { padding: 80px 0 60px; }

  .shape-content {
    top: -70px;
    right: -260px;
  }

  .services-title{
    padding-right:  0px;
  }

.services-title > h2{
  margin-bottom: 20px;
  font-size: 15px;
}

.ad-img > img {
  margin-top: 18px;
  max-width: 80px;
  margin-left: -40px;
  
}


.ad-logo-ttk{
  display: none;
}


  /**
   * ABOUT 
   */

  .about-card .card-title { padding-inline: 40px; }

  .about-bottom-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 40px;
  }

  .about-bottom-content { padding-inline: 50px; }


  /* acertar responsividade */
  /* .about-card-mid{
    margin-left: 52px;
  } */


  /**
   * FEATURES / FOR WHO
   */

.features .h2 { --fs-2: 32px; }


.row-content{
  flex-direction: column;
  display: none;
}

/* WHO-WE-ARE MOBILE */

/* WHO-WE-ARE MOBILE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;
    --hue-color: 230;

    /* cores */
    --first-color: hsl(var(--hue-color), 100%, 52%);
    --first-color-second: hsl(var(--hue-color), 100%, 52%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;



    /*fonte e tipografia */

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* espessura da fonte */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* botões da margem */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */

    --z-tolltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* font size for devices*/
    @media screen  and(min-width: 968px) {
        :root {

            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }    
        
    }
    
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

/* serviços */

.services_container{
  display: inline;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services_content{
  position: relative;
  background-color: var(--container-color);
  padding: 20px;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.services_content:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services_icon{
  display: block;
  font-size: 1.5rem;
  color: var(--bittersweet);
  margin-bottom: var(--mb-1);
}

.services_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services_button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services_button:hover .button_icon{
  transform: translateX(.25rem);
}

.services_modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0; 
  visibility: hidden;
  transition: .3s;
}

.services_modal-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: .5rem;
}

.services_modal-services{
  row-gap: 1rem;
}

.services_modal-service{
  display: flex;
}

.services_modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services_modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services_modal-icon{
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

.active-modal{
  opacity: 1;
  visibility: visible;
}


.why-us .h2 { --fs-2: 32px; }

  /**
   * CTA
   */

  .cta-title { --fs-1: 42px; }

  .gradient{
    transform: translateY(-180px);
  }

  .cta-button { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }


  /* backgroud do botão OPCIONAL */

  /* .cta-button > button{
    text-shadow: 1px 1px black;
    background-color: black;
  } */

  .cta input { margin-bottom: 0; }

  .cta .btn-secondary { min-width: max-content; }

/* SWIPER IMG */

.project-img > img{
  height: 12vh;
}

  /**
   * CONTACT
   */

  .contact-title { --fs-2: 32px; }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }

}


.float{
  right: 3px;
  bottom: 100px;
}

.go-top{
  right: 5px;
}

/**
 * responsive for larger than 560px 
 */

@media (min-width: 560px) {
  

  /**
   * REUESED STYLE 
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }


  /**
   * HEADER
   */

  .navbar-wrapper { position: relative; }

  .navbar {
    top: calc(100% + 15px);
    right: 0;
  }



  /**
   * HERO, ABOUT
   */

  .hero-content,
  .about-bottom-content { text-align: left; }

  .hero .btn-primary,
  .about-bottom .btn-secondary { margin-inline: 0; }

  .shape-content {
    top: -156px;
    right: -152px;
  }



  /**
   * FOOTER
   */

  .footer-brand { margin-bottom: 40px; }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}





/**
 * responsive for larger than 768px 
 */

@media (min-width: 768px) {
  

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * typography
     */

    --fs-2: 35px;
    --fs-4: 20px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 740px; }



  /**
   * ABOUT
   */

  .about-list { grid-template-columns: 1fr 1fr; }

  .about-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-card .card-title { padding-inline: 0; }

/*
FOR WHO 
 */

 /* .for-who-list { grid-template-columns: 1fr 1fr; }

 .for-who-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.for-who-card .card-title { padding-inline: 0; } */

  /**
   * CONTACT
   */

  .contact-title { --fs-2: 42px; }

}





/**
 * responsive for larger than 1024px 
 */

@media (min-width: 1024px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .navbar-menu-btn { display: none; }

  .navbar {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .nav-link {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar .btn-primary { display: block; }



  /**
   * HERO
   */

  .hero-content { max-width: 550px; }

  .hero-banner{
    display: flex;
    position: absolute;
    top: 30%;
    right: 0%;
    transform: translateY(-50%);
    width: 500px;
    padding-top: 500px;
    background: url("../images/banner-teste.png") no-repeat;
    background-size: contain;
    
    /* animation: pulse 2s infinite;  */

  }

  /* .hero-banner.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  } */
 

  /**
   * ABOUT
   */

  .about-top .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .about-list { grid-template-columns: repeat(3, 1fr); }

  .about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-bottom-banner {
    margin-bottom: 0;
    height: 330px;
  }

  .about-bottom-content {
    padding-inline: 0;
    width: 50%;
  }



  /**
   * FEATURES
   */

  .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .features-item {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .features-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .feature-item-content {
    width: 50%;
    text-align: left;
  }

  .features-item:last-child { flex-direction: row-reverse; }



  /**
   * CTA
   */

  .cta-card > * {
    max-width: 100%;
    margin-inline: auto;
  }



  /**
   * CONTACT
   */

  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content { max-width: 400px; }

  .contact-title { text-align: left; }

  .contact-form { width: 50%; }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .footer-brand,
  .footer-link-list:not(:last-child) { margin-bottom: 0; }

  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }

}





/**
 * responsive for larger than 1200px 
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * typography
     */

    --fs-2: 42px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px;  }



  /**
   * HERO
   */

    /* DESKTOP */
    .hero-banner { 
      right: 100px; 
      top: -10%;
      animation: pulse 2s infinite; 
    }



  /**
   * ABOUT
   */

  .about-bottom-banner { height: 400px; }



  /**
   * FEATURES
   */

  .features .h2 { --fs-2: 42px; }

  .features :is(.section-title, .section-text) { max-width: 850px; }

}